.navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 2vw 10px;
  box-shadow: 0 1px 3px -2px black;
  height: 110px;
  background-color: #fff;
  gap: 20px;
  margin-top: 15px;
}

.first-layer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  gap: 10px;
}

.second-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: #171717;
  font-size: 32px;
  font-weight: 600;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-login-cart button {
  width: 140px;
  height: 48px;
  border: 1px solid #7a7a7a;
  border-radius: 50px;
  color: #515151;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-login-cart button:hover {
  background-color: #f3f3f3;
}

.nav-cart-count {
  /* position: absolute; */
  /* top: -8px;
  right: -8px; */
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -25px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
}

.nav-menu {
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 25px;
  font-weight: 500;
}

.nav-menu li:hover {
  color: #FF4141;
}

.nav-menu hr {
  border: none;
  width: 90%;
  height: 3px;
  background-color: #FF4141;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .nav-menu {
      gap: 40px;
    }

  .nav-menu li {
    font-size: 22px;
  }
}