.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 1px;
}

.nav-logo {
    width: 200px;
}

.nav-profile {
    width: 75px;
}

@media (max-width: 800px) {
    .navbar {
        padding: 10px 20px;
    }
    .nav-logo {
        width: 150px;
    }
    .nav-profile {
        width: 60px;
    }
}